body{padding:0;margin:2px;font:14px "Lucida Grande",Helvetica,Arial,sans-serif;background:#ccc}
a{color:#00b7ff}
#chat-container{position:fixed;top:0;right:0;bottom:0;width:300px;text-align:justify;overflow:hidden}
#stream-container_1,#stream-container_2,#stream-container_3,#stream-container_4{padding-bottom:6px}
.stream-error{color:#f00}
.twitch-chat{width:300px;height:100%}
#header{position:fixed;top:0;right:300px;left:0;overflow:hidden;height:85px;background:#aaa}
#header *{float:left}
#content{position:fixed;top:85px;right:300px;left:0;bottom:85px;padding:9px}
#footer{position:fixed;bottom:0;right:300px;left:0;overflow:hidden;height:85px;background:#aaa}
