@import 'nib'

// Fixed layout sizes
header-size = 75px
chat-size = 300px
footer-size = 165px
sidebar-size =  300px

// Arrow mixins
arrow-up(w, h, c)
	width 0
	height 0
	border-left w solid transparent
	border-right: w solid transparent
	border-bottom: h solid c

arrow-down(w, h, c)
	width 0
	height 0
	border-left w solid transparent
	border-right: w solid transparent
	border-top: h solid c

arrow-right(w, h, c)
	width 0
	height 0
	border-top h solid transparent
	border-bottom: h solid transparent
	border-left: w solid c

arrow-left(w, h, c)
	width 0
	height 0
	border-top h solid transparent
	border-bottom: h solid transparent
	border-right: w solid c


body
	padding 0px
	margin 2px
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background #cccccc

a
	font-weight bold
	color #5B3989

p
	margin 0

.ajax-loader
	padding 10px

#sidebar-container
	position fixed
	top 0
	bottom 0
	left 0
	width 300px
	text-align justify 
	overflow hidden

#sidebar-toggle-left
	arrow-left 20px 15px #FF7200
	position absolute
	left 5px
	top 5px

#sidebar-toggle-right
	arrow-right 20px 15px #FF7200
	position absolute
	left 5px
	top 5px

#chat-container
	position fixed
	top 0
	right 0
	bottom 0
	width 300px
	text-align justify 
	overflow hidden

#chat-toggle-left
	arrow-left 20px 15px #FF7200
	position absolute
	right 5px
	top 5px

#chat-toggle-right
	arrow-right 20px 15px #FF7200
	position absolute
	right 5px
	top 5px

#footer-toggle-up
	arrow-up 15px 20px #FF7200
	position absolute
	left 5px
	bottom 5px

#stream-container_1
#stream-container_2
#stream-container_3
#stream-container_4
	//padding-bottom 6px
	height 100%
	width 100%

.stream-error
	color red

.twitch-chat
	width 300px
	height 100%

#header
	position fixed
	top 0
	right chat-size
	left sidebar-size
	overflow hidden
	height header-size
	background #aaaaaa
	padding-left 30px

#header > p
#header > div
	float left

#content
	position fixed
	top header-size
	right chat-size
	left sidebar-size
	bottom footer-size
	//padding 9px
	background #aaaaaa

#footer
	position fixed
	bottom 0
	right chat-size
	left sidebar-size
	overflow hidden
	height footer-size
	background #aaaaaa

