@import 'nib'

header-size = 85px
chat-size = 300px
footer-size = 85px

body
	padding 0px
	margin 2px
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background #cccccc

a
	color #00B7FF

#chat-container
	position fixed
	top 0
	right 0
	bottom 0
	width 300px
	text-align justify 
	overflow hidden

#stream-container_1
#stream-container_2
#stream-container_3
#stream-container_4
	padding-bottom 6px

.stream-error
	color red

.twitch-chat
	width 300px
	height 100%

#header
	position fixed
	top 0
	right chat-size
	left 0
	overflow hidden
	height header-size
	background #aaaaaa

#header *
	float left

#content
	position fixed
	top header-size
	right chat-size
	left 0px
	bottom footer-size
	padding 9px

#footer
	position fixed
	bottom 0
	right chat-size
	left 0
	overflow hidden
	height footer-size
	background #aaaaaa

