@import 'nib'

body
	padding 0px
	margin 2px
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background #cccccc

a
	color #00B7FF

#chat-container
	position fixed
	top 0
	right 0
	bottom 0
	width 300px
	text-align justify 
	overflow hidden

.stream-error
	color red

.twitch-chat
	width 300px
	height 100%

#header
	position fixed
	top 0
	right 300px
	left 0
	overflow hidden
	height 75px
	background #aaaaaa

#header *
	float left

#content
	position fixed
	top 75px
	right 300px
	left 0px
	bottom 75px
	padding 10px

#footer
	position fixed
	bottom 0
	right 300px
	left 0
	overflow hidden
	height 75px
	background #aaaaaa

