body{padding:0;margin:2px;font:14px "Lucida Grande",Helvetica,Arial,sans-serif;background:#ccc}
a{font-weight:bold;color:#5b3989}
p{margin:0}
.ajax-loader{padding:10px}
#sidebar{position:fixed;top:0;bottom:0;left:0;width:300px;text-align:justify;overflow:hidden}
#sidebar-toggle-left{width:0;height:0;border-top:15px solid transparent;border-bottom:15px solid transparent;border-right:20px solid #ff7200;position:absolute;left:5px;top:5px}
#sidebar-toggle-right{width:0;height:0;border-top:15px solid transparent;border-bottom:15px solid transparent;border-left:20px solid #ff7200;position:absolute;left:5px;top:5px}
#chat-container{position:fixed;top:0;right:0;bottom:0;width:300px;text-align:justify;overflow:hidden}
#chat-toggle-left{width:0;height:0;border-top:15px solid transparent;border-bottom:15px solid transparent;border-right:20px solid #ff7200;position:absolute;right:5px;top:5px}
#chat-toggle-right{width:0;height:0;border-top:15px solid transparent;border-bottom:15px solid transparent;border-left:20px solid #ff7200;position:absolute;right:5px;top:5px}
#footer-toggle-up{width:0;height:0;border-left:15px solid transparent;border-right:15px solid transparent;border-bottom:20px solid #ff7200;position:absolute;left:5px;bottom:5px}
#stream-container_1,#stream-container_2,#stream-container_3,#stream-container_4{height:50%;width:50%;float:left}
#stream-container_1 .empty,#stream-container_2 .empty,#stream-container_3 .empty,#stream-container_4 .empty{width:100%;height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:10px #aaa solid}
#stream-container_1 .empty2,#stream-container_2 .empty2,#stream-container_3 .empty2,#stream-container_4 .empty2{width:100%;height:100%;-webkit-border-radius:30px;border-radius:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:10px #fff dotted;font-size:100px;color:#fff;text-align:center}
.stream-error{color:#f00}
.twitch-chat{width:300px;height:100%}
#header{position:fixed;top:0;right:300px;left:300px;overflow:hidden;height:75px;background:#aaa;padding-left:30px}
#header > p,#header > div{float:left}
#content{position:fixed;top:75px;right:300px;left:300px;bottom:0;background:#aaa}
#footer{position:fixed;bottom:0;right:300px;left:300px;overflow:hidden;height:0;background:#aaa}
