extends layout

block content
  h1= title
  
  form( method="post")
   div#returnDBSubmit
    input(type="submit", value="Input Another")
  #accounts
    - each account in accounts
        div.account
          div.title= account.name