extends layout
include twitch-embed

block scripts
	include twitch-login-scripts
block content
	//h1= title
	//p Welcome to #{title}
	include twitch-login-button
	mixin twitch-stream(channel='bischulol', cindex='1')
	mixin twitch-chat(channel='bischulol', cindex='1')
	p.stream-controls &nbsp;