mixin twitch-stream(channel, cindex)
	object(width="800px", height="600px", type="application/x-shockwave-flash", id="stream_#{cindex}", name="api_player", data="http://www.twitch.tv/widgets/live_embed_player.swf?consumer_key=j0yll37nxeynttp6x4jb9sj4d4v9ev3")
		param(name="wmode", value="opaque")
		param(name="allowfullscreen", value="true")
		param(name="allowscriptaccess", value="always")
		param(name="allownetworking", value="all")
		param(name="movie", value="http://www.twitch.tv/widgets/live_embed_player.swf")
		param(name="flashvars", value="hostname=www.twitch.tv&channel=#{channel}&auto_play=true&enable_javascript=true&start_volume=100")
mixin twitch-chat(channel, cindex)
	iframe(id="chat_#{cindex}", style="width:350px;height:600px;", scrolling="no", frameborder="0", src="http://www.twitch.tv/chat/embed?channel=#{channel}&hide_chat=myspace,facebook,twitter&default_chat=jtv")