script(src='https://ttv-api.s3.amazonaws.com/twitch.min.js')
script(src='/javascripts/twitch-main.js')
script(src='/javascripts/jquery.livestream.min.js')
script(src='/javascripts/jquery.hotkeys.min.js')