script(src='https://ttv-api.s3.amazonaws.com/twitch.min.js')
script(src='/javascripts/twitch-main.js')
script(src='/javascripts/jquery.livestream.min.js')
script(src='/javascripts/jquery.hotkeys.min.js')
script(src='/libs/jquery-ui-1.10.1.custom/js/jquery-ui-1.10.1.custom.min.js')
link(rel='stylesheet', href='/libs/jquery-ui-1.10.1.custom/css/custom-theme/jquery-ui-1.10.1.custom.min.css')