object(width="800px", height="600px", type="application/x-shockwave-flash", id="api_player", name="api_player", data="http://www.twitch.tv/widgets/live_api_player.swf?consumer_key=j0yll37nxeynttp6x4jb9sj4d4v9ev3")
	param(name="wmode", value="opaque")
	param(name="allowfullscreen", value="true")
	param(name="allowscriptaccess", value="always")
	param(name="allownetworking", value="all")
	param(name="flashvars", value="hostname=www.twitch.tv&channel=colthestc&auto_play=true&enable_javascript=true")